{% extends 'base.html' %}

{% block content %}
<h1> {{ title.capfirst }}</h1>

{% include 'women/includes/nav.html' %}

<ul>
    {% for row in posts %}
    {% if row.is_published %}
    <li>
        <h2>{{ row.title }}</h2>
        {% autoescape off %}
        <p>{{ row.content|linebreaks|truncatewords:20 }}</p>
        {% endautoescape %}
        <p><a href="posts/{{ row.id }}"> Читать пост </a></p>
        <p><a href="{% url 'alter_posts' row.id %}"> Читать альтернативный пост </a></p>

        {% if not forloop.last%}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}

</ul>

{% include 'women/includes/nav.html' %}

{% endblock %}
