<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{ title|upper }}</title>

</head>
<body>

<ul>
    <li><a href="{% url 'home' %}"> Главная страница </a></li>
    {% for item in menu %}
    <li>
        <a href="{% url item.url_name %}"> {{ item.title }} </a>
    </li>
    {% endfor %}
</ul>

<h1> {{ title.capfirst }}</h1>

<ul>
    {% for row in posts %}
    {% if row.is_published %}
    <li>
        <h2>{{ row.title }}</h2>
        <p>{{ row.content }}</p>

        <p><a href="posts/{{ row.id }}"> Читать пост </a></p>
        <p><a href="{% url 'alter_posts' row.id %}"> Читать альтернативный пост </a></p>

        {% if not forloop.last%}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}

</ul>

<p> {{ float|add:"100" }}</p>
<p> {{ lst }}</p>
<p> {{ set }}</p>
<p> {{ dict.key_1 }}</p>
<p> {{ obj.a }}</p>
<p> {{ url }}</p>
<h1>{{ title|capfirst }}</h1>
</body>
</html>
